$primary: #FF3224;
$background: rgba(#291414, 0.9);
$surface: rgba(#FFADC7, 0.12);
$line: rgba(#FFADC7, 0.2);

$text-100: #FFFFFF;
$text-75: rgba(#FFADAD, 0.42);
$text-50: rgba(#FFC2C2, 0.8);

@mixin bold {
  font-weight: 700;
  letter-spacing: -0.45px;
}

@mixin text {
  font-size: 12px;
  line-height: 16px;
}

@mixin checkbox {
  font-size: 10px;
  line-height: 16px;
}

@font-face {
	font-family: "SF Pro";
	src: url("../font/SFNS.ttf") format("turetype");
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: "SF Pro", sans-serif;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  touch-action: manipulation;
  user-select: none;
}

html, body {
  width: 260px;
}

html {
  background-color: $background;
}

body {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  flex-direction: column;
}

.window {
  padding: 12px;
  gap: 12px;

  >.header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px 0 4px;

    .title {
      font-size: 24px;
      line-height: 24px;
      font-weight: 1000;
      font-variation-settings: "wdth" 150;

      color: $text-50;
    }

    .button {
      padding: 6px;
      border-radius: 8px;
      background-color: $surface;
      cursor: pointer;

      
      p {
        @include text;
        color: $text-100;
      }
    }
  }

  >.toggle {
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 0 4px;

    .power {
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
      border-radius: 36px;
      background-color: $surface;
      border: 1px solid $surface;
      cursor: pointer;

      font-size: 32px;
      font-weight: 700;
      color: $text-100;
    }

    .content {
      .title {
        font-size: 32px;
        line-height: 32px;
        font-weight: 1000;
        font-variation-settings: "wdth" 150;
        color: $text-50;
      }

      .description {
        @include text;
        color: $text-50;
      }
    }

    &.on {
      .power {
        background-color: $primary;
        border-color: $primary;
        box-shadow: 0px 0px 28px 0px rgba($primary, 0.4), 0px 4px 8px 4px rgba(0, 0, 0, 0.50) inset;
      }

      .content {
        .title {
          color: $primary;
        }
      }
    }
  }

  .hidden {
    position: fixed;
    pointer-events: none;
    visibility: hidden;
  }
}